<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <% if (errorMessage && errorMessage.length > 0) { %>
                    <div class="alert alert-danger"><%= errorMessage[0] %></div>
                <% } %>
                <% if (successMessage && successMessage.length > 0) { %>
                    <div class="alert alert-success"><%= successMessage[0] %></div>
                <% } %>
                <div class="card">
                    <div class="card-body">
                        <form action="/new-password" method="POST">
                            <div class="mb-3">
                                <label for="password" class="form-label">New Password</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary" type="submit">Update Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>