<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <% if (errorMessage) { %>
                    <div class="alert alert-danger"><%= errorMessage %></div>
                <% } %>
                <% if (successMessage) { %>
                    <div class="alert alert-success"><%= successMessage %></div>
                <% } %>
                <div class="card">
                    <div class="card-body">
                        <form action="/signup" method="POST" novalidate>
                            <div class="mb-3">
                                <label for="email" class="form-label">E-Mail</label>
                                <input 
                                    type="email" 
                                    name="email" 
                                    id="email" 
                                    class="form-control <%= validationErrors && validationErrors.some(error => error.path === 'email') ? 'is-invalid' : '' %>"
                                    value="<%= oldInput ? oldInput.email : '' %>"
                                >
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input 
                                    type="password" 
                                    name="password" 
                                    id="password" 
                                    class="form-control <%= validationErrors && validationErrors.some(error => error.path === 'password') ? 'is-invalid' : '' %>"
                                >
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input 
                                    type="password" 
                                    name="confirmPassword" 
                                    id="confirmPassword" 
                                    class="form-control"
                                >
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary" type="submit">Signup</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>
